
.firstrow{
    display:flex;
    border:2px solid black;
    width:800px;
}
.firstcell{
    width:100px;
    height:100px;
    background-color: white;
}

.blackcell{
    width:100px;
    height:100px;
    background-color: black;
}
.area{
    height: 750px;
    width: 300px;
    border: 2px solid black;
    margin-left:60px;
}
.chess{
    display:flex;
}
.content button{
    margin-top:30px;
    height:40px;
    width:80%;
    
}
.players{
    display:flex;
    flex-direction:column;
    align-items:center;
    margin-left:40px;

}
.pl1{
    height:400px;
    width:300px;
    border:4px solid;
    margin-bottom:40px;
    background-image: url(https://media.istockphoto.com/id/1402655773/vector/chess-icon-set-black-and-linear-vector-eps-10.jpg?s=612x612&w=0&k=20&c=Mb87Xt04AFMgla_Ci6bAt7VuMB0LzHDGvGhjuSTjm9c=);
}
h1{
    text-decoration: solid;
    text-align: center;
}
.pl2{
    height:400px;
    width:300px;
    border:4px solid;
    background-image: url(https://media.istockphoto.com/id/1402655773/vector/chess-icon-set-black-and-linear-vector-eps-10.jpg?s=612x612&w=0&k=20&c=Mb87Xt04AFMgla_Ci6bAt7VuMB0LzHDGvGhjuSTjm9c=);
}
