
.firstrow{
    display:flex;
    border:2px solid darkbrown;
    width:800px;
}
.firstcell{
    width:100px;
    height:100px;
    background-color: rgba(181, 136, 99,0.5);
 
}

.blackcell{
    width:100px;
    height:100px;
    background-color: rgb(139, 94, 60);
}
.area{
    height: 750px;
    width: 300px;
    border: 2px solid black;
    margin-left:60px;
}
.chess{
    display:flex;
}
.content button{
    margin-top:30px;
    height:40px;
    width:80%;
    
}
.players{
    display:flex;
    flex-direction:column;
    align-items:center;
    margin-left:40px;

}
.pl1{
    height:400px;
    width:300px;
    border:4px solid;
    margin-bottom:40px;
    background-image: url(https://media.istockphoto.com/id/1402655773/vector/chess-icon-set-black-and-linear-vector-eps-10.jpg?s=612x612&w=0&k=20&c=Mb87Xt04AFMgla_Ci6bAt7VuMB0LzHDGvGhjuSTjm9c=);
}
h1{
    text-decoration: solid;
    text-align: center;
}
.pl2{
    height:400px;
    width:300px;
    border:4px solid brown;
    background-image: url(https://media.istockphoto.com/id/1402655773/vector/chess-icon-set-black-and-linear-vector-eps-10.jpg?s=612x612&w=0&k=20&c=Mb87Xt04AFMgla_Ci6bAt7VuMB0LzHDGvGhjuSTjm9c=);
}
.linker{
    height:50px;
    width:60px;
    margin-bottom:5px;
}
.logo{
    height:50px;
    width:50px;
}
