body{
    font-family:Arial;
    background:#f4f4f4;
    text-align:center;
    margin:0;
}
.container{
    width:600px;
    margin:50px auto;
    padding:20px;
    background:#fff;
    border-radius:10px;
    box-shadow:0 0 10px gray;
}
button{
    padding:8px 12px;
    margin:5px;
    background:#007bff;
    color:#fff;
    border:none;
    border-radius:5px;
    cursor:pointer;
}
button:hover{
    background:#0056b3;
}
input{
    padding:8px;
    width:250px;
}